.rotate-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  margin: 5px 0;
}

.button-container {
  position: absolute;
  display: none;
  flex-direction: column;
}
